div {
    display: block;
}

.background {
    height: 540px;
    width: 960x;
    background: url('http://static.vecteezy.com/system/resources/previews/000/084/251/original/christmas-bokeh-vector-background.jpg');
}

.navy {
    height: 160px;
    width: 200px;
    border-radius: 10px;
    background: navy;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.itembox {
    height: 160px;
    width: 200px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.txt {
    padding-top: 10px;
    font-size: 40px;
}

.triplan {
    padding-top: 50px;
    text-align: center;
}

.white {
    display: inline-block;
    margin-left: 20px;
}